@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("../assets/style/login.css");
@import url("../assets/style/slider.css");
@import url("../assets/style/masterCard.css");
@tailwind base;
@tailwind components;
@tailwind utilities;


.hiddEff .span {
    opacity: 0;
    height: 0;
    transition: .5s;
}

.hiddEff:hover .span {
    opacity: 1;
    height: 35px;
    margin-top: 3px;
}

/* @keyframes sidebarShow {
    0% {
        opacity: 0;
        height: 0px;
    }

    50% {
        opacity: 0.2;
        height: 25px;
    }

    100% {
        opacity: 1;
        height: 30px;
    }
} */

.react-responsive-modal-modal{
    border-radius: 7px;
}